@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

/* Global */

:root {
    --bs-gray: #6c757d;
    --bs-dark: #000000;
    --bs-blue: #0d6efd;
    --bs-cyan: #0dcaf0;
    --bs-green: #198754;
    --bs-light: #f8f9fa;
    --bs-white: #ffffff;
    --bs-background: #2c3e50;
}

/* Normal */

body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: var(--bs-light);
    background-color: var(--bs-background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

/* ID */

#cabeca h1, #cabeca h3 {
    margin: 4px;
    color: var(--bs-blue);
}

#cabeca h1 {
    font-size: 50px;
}

#cabeca h3 {
    font-size: 24px;
}

#reiniciarButton {
    margin: 24px;
    padding: 14px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 8px;
    color: var(--bs-white);
    background-color: var(--bs-dark);
}

/* Class */

.tabuleiro {
    margin-top: 40px;
    text-align: center;
}

.itemColuna {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: var(--bs-gray);
    border: 2px solid var(--bs-dark);
}

.x {
    background-color: var(--bs-cyan);
}

.o {
    background-color: var(--bs-green);
}

.placar {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.jogadorPlacar {
    font-size: 2em;
    color: white;
    position: relative;
    display: inline-block;
}

.pontoPlacar {
    padding: 0px 15px;
    margin-left: 10px;
    border: 2px solid var(--bs-dark);
}

.jogadorPlacar:nth-child(1) {
    margin-right: 50px;
}

.jogadorPlacar:nth-child(2) {
    margin-left: 50px;
}
